.doctor-banner {
  position: relative;
  /* height: 400px; */
  width: 100%;
  /* background-color: #B1C5AF; */
  background-color: rgba(113, 197, 232, 0.3);
}

.doctor-name h1 {
  margin: 0;
  font-size: 60px;
  color: #ffffff;
}

.doctor-quote h3 {
  font-size: 28px;
  /* color: #ffffff; */
  color: #222222;
}

/* #dr-carina-lea .doctor-name {
  position: absolute;
  top: 80px;
  right: 300px;
  padding: 5px 30px 5px 30px;
  background-color: rgb(0, 0, 0, 0.2);
}

#dr-carina-lea .doctor-quote {
  position: absolute;
  top: 200px;
  right: 130px;
  width: 580px;
} */

.doctor-copy {
  padding-top: 50px;
  padding-bottom: 50px;
}

.copy-quote {
  color: #6c757d;
  font-style: italic;
}

.doctor-copy .doctor-credentials {
  padding-left: 60px;
  padding-right: 0;
}

.doctor-copy .doctor-credentials p {
  font-size: 18px;
}

.doctor-credentials .highlight {
  color: #71c5e8;
}

.doctor-copy hr {
  width: 12%;
  margin-left: 0;
  border-bottom: 2px solid #71c5e8;
}

/* #dr-ben-studebaker .doctor-name {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 5px 30px 5px 30px;
  background-color: rgb(0, 0, 0, 0.2);
}

#dr-ben-studebaker .doctor-quote {
  position: absolute;
  top: 220px;
  left: 210px;
  width: 450px;
  text-align: right;
} */


/* TEMPORARY CSS */
.doctor-banner {
  padding-top: 70px;
  padding-bottom: 60px;
}

.doctor-banner .col-md-3 {
  padding-right: 0;
}

.doctor-banner .col-md-7 {
  padding-left: 0;
}

.doctor-portrait img {
  margin-bottom: 20px;
  width: 160px;
}

.doctor-name h1 {
  display: inline;
  padding: 5px 30px 5px 30px;
  background-color: rgb(0, 0, 0, 0.2);
}

.doctor-quote {
  margin-top: 20px;
  width: 90%;
}
