#forms-policies {
  padding-bottom: 60px;
}

#forms-policies hr {
  margin-top: 0;
  margin-bottom: 40px;
}

#forms-policies h2 {
  margin-top: 40px;
  font-size: 24px;
  color: #71c5e8;
}

#forms-policies table {
  width: 100%;
}

#forms-policies table#insurance-providers {
  table-layout: fixed;
}

#forms-policies td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border: 1px solid #cfdbe2;
}
