i.material-icons {
  margin-right: 10px;
  line-height: inherit;
}

#location-header img {
  width: 100%;
}

#location-info {
  padding-top: 60px;
  padding-bottom: 30px;
}

#location-info table {
  width: 60%;
}

#location-info table td {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #6c757d;
}

#location-info p {
  color: #6c757d;
  margin-bottom: 30px;
}

#location-info hr {
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 10%;
  border-bottom: 3px solid #71c5e8;
}

#location-parking {
  padding-top: 30px;
  padding-bottom: 60px;
}

#location-parking h1 {
  margin-bottom: 30px;
}

#location-parking p {
  color: #6c757d;
}

/* #location-directions {
  padding-top: 30px;
  padding-bottom: 60px;
}

#location-directions h1 {
  margin-bottom: 40px;
}

#location-directions .row {
  margin-bottom: 30px;
}

#location-directions .directions-image {
  width: 100%;
} */
