/* colors from dark to light
1f3640
3e6c7f
71c5e8
a4daf0
f2f9fc */

body h1 {
  font-family: 'Abel', 'Helvetica', sans-serif;
  font-weight: bold !important;
  color: #71c5e8;
}

body h3 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body h5 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body p {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #1f3640;
}

body a {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #1f3640;
  text-decoration: none;
}

body a:hover {
  color: #71c5e8;
  text-decoration: none;
}

#navbar-complete {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid #71c5e8;
}

nav a.nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 16px;
}

nav a.dropdown-item {
  font-size: 16px;
}

#home-intro {
  padding-top: 80px;
  padding-bottom: 80px;
}

#home-intro h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #1f3640;
}

#home-intro p {
  padding-left: 15px;
  padding-right: 50px;
  border-left: 3px solid #71c5e8;
}

.parallax {
  background-image: url(../img/waendo-lobby-2.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-meet-doctors {
  padding-top: 60px;
  padding-bottom: 60px;
}

#home-meet-doctors h1 {
  margin-bottom: 40px;
}

#home-meet-doctors .doctor-quote .row {
  margin-bottom: 30px;
}

#home-meet-doctors .doctor-quote hr {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 0;
  width: 25%;
  border-bottom: 4px solid #71c5e8;
}

#home-meet-doctors .doctor-quote .card-img {
  border: 1px solid #e5e5e5;
}

#home-meet-doctors .doctor-quote p {
  font-size: 17px;
}

#home-meet-doctors .doctor-quote a {
  font-size: 17px;
}

#seattle-met-awards {
  padding-top: 40px;
  padding-right: 30px;
}

#seattle-met-awards img {
  margin-top: 20px;
  max-width: 100%;
}



@media only screen and (min-width: 992px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 991px) {

}
