/* colors from dark to light
1f3640
3e6c7f
71c5e8
a4daf0
f2f9fc */

html {
  position: relative;
  min-height: 100%;
}

body h1 {
  font-family: 'Abel', 'Helvetica', sans-serif;
  font-weight: bold !important;
  color: #71c5e8;
}

body h2 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body h3 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body h5 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body p {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #000000;
}

body a {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #1f3640;
  text-decoration: none;
}

body a:hover {
  color: #71c5e8;
  text-decoration: none;
}

#navbar-complete {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 12px solid #71c5e8;
}

nav.navbar {
  padding-left: 0;
}

nav a.nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 16px;
}

nav a.dropdown-item {
  font-size: 16px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-cta {
  margin-top: 40px;
  padding-left: 10px;
  line-height: 40px;
  border-left: 2px solid #71c5e8;
}

button.new-patient-forms-cta {
  background-color: #71c5e8;
  border: 1px solid #71c5e8;
}

button.new-patient-forms-cta:hover {
  background-color: #64adcc;
  border: 1px solid #64adcc;
}

footer.footer {
  padding-top: 25px;
  padding-bottom: 0;
  background-color: #3E697A;
}

footer.footer h3 {
  margin-bottom: 15px;
  padding-right: 20px;
  font-size: 22px;
  color: #ffffff;
}

footer.footer p {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 15px;
}

footer.footer p i.fa-phone {
  height: 17px;
  width: 17px;
}

footer.footer p i.fa-envelope {
  height: 17px;
  width: 17px;
}


footer.footer a {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

footer.footer i.fa-file-pdf-o {
  font-size: 60px;
  margin-bottom: 10px;
}

#footer-copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2B4956;
}

#footer-copyright p {
  margin-bottom: 0;
  font-size: 16px;
  color: #ffffff;
}


@media only screen and (min-width: 992px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 991px) {

}
