/* colors from dark to light
1f3640
3e6c7f
71c5e8
a4daf0
f2f9fc */

body h1 {
  font-family: 'Abel', 'Helvetica', sans-serif;
  font-weight: bold !important;
  color: #71c5e8;
}

body h3 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body h5 {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

body p {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #1f3640;
}

body a {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 20px;
  color: #1f3640;
  text-decoration: none;
}

body a:hover {
  color: #71c5e8;
  text-decoration: none;
}

#navbar-complete {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid #71c5e8;
}

nav a.nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 16px;
}

nav a.dropdown-item {
  font-size: 16px;
}

.parallax {
  background-image: url(../img/waendo-lobby-2.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (min-width: 992px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 991px) {

}
