.service {
  padding-bottom: 60px;
  background-color: #f4f4f4;
}

.service hr {
  margin-top: 0;
  margin-bottom: 40px;
}

.service .service-video {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.service h2 {
  margin-top: 30px;
  font-size: 24px;
  color: #71c5e8;
}

.service p {
  font-size: 18px;
}

.service ul li {
  font-size: 18px;
}

.service ol li {
  font-size: 18px;
}

.service ol li {
  margin-bottom: 8px;
}

.service span.blue-font {
  color: #71c5e8;
}
