/* #testimonials-header img {
  width: 100%;
} */

#testimonials {
  padding-bottom: 60px;
}

#testimonials hr {
  margin-top: 0;
  margin-bottom: 40px;
}

#testimonials .doctible-location-name {
  width: 100%;
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
  font-size: 2.5rem;
  color: #71c5e8 !important;
}

#testimonials .doctible-reviews-count-container {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
}

#testimonials .doctible-reviews-count {
  font-size: 18px;
}

#testimonials .doctible-reviews-count-text {
  font-size: 18px;
}

#testimonials .doctible-header {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

#testimonials .doctible-review {
  background-color: #f2f2f2;
}

#testimonials .doctible-review-info {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

#testimonials .doctible-review-date {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

#testimonials .doctible-review-content {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#testimonials .doctible-page {
  font-family: 'Abel', 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

#testimonials .doctible-page.active {
  background-color: #71c5e8;
}
